<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/output.css">
    <link rel="stylesheet" href="https://use.typekit.net/paw6nms.css">
  </head>
  <header>

 
</header>
  <body>
      <div class="mobile-nav-container">
    
       {% include components/navigation/mobile-nav-overlay.html %}
        {{ content }}
     </div>
  </body>
  <footer>
  </footer>
</html>
