<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/paw6nms.css">
    <link rel="stylesheet" href="/assets/css/output.css">
    
  </head>
  <header>
  </header>
  <body class="overflow-x-hidden max-w-full">
    
    <div id="mobile-nav" 
        class="mobile-nav-container fixed inset-0 bg-dark-blue z-40 translate-y-full transition-transform duration-300 ease-in-out">    
      {% include components/navigation/mobile-nav-overlay.html %}
    </div>
    {{ content }}
    
    <!-- Global JavaScript -->
    <script src="/assets/js/highlighter.js"></script>
    <script src="/assets/js/mobile-menu.js"></script>
  </body>
  <footer class="lg:hidden">
    {% include components/navigation/menu-button.html %}
  </footer>
</html>