---
layout: default
title: Portfolio 
---

  
<div class="flex items-center justify-center min-h-[calc(100vh-40px)] h-screen">
  <div class="flex flex-col h-[calc(100vh-var(--spacing-margin-base))]
 mt-margin-base mr-margin-base ml-margin-base max-w-[1350px] overflow-x-hidden">
    <div class="@container grid grid-cols-[1fr_auto] gap-y-0 justify-around text-right leading-none max-w-full ">
      <!-- First row -->
      <div class="mr-[3cqw] flex flex-col justify-end">
        <nav class="max-lg:hidden ml-margin-base">
          <ul class="flex-row flex flex-wrap justify-between gap-x-4  mb-[3cqw]">
            {% for item in site.data.main-pages %}
              {% include components/navigation/nav-item.html 
              url=item.url 
              text=item.text 
              %}
              
            {% endfor %}            
          </ul>
        </nav>
        <div class="h-[.5cqw] md:mb-[1cqw] connecting-line absolute left-0 w-[clamp(229px,74vw,1300px)] lg:w-[clamp(327px,76vw,1351px)]">
          <!--r connecting line -->
        </div>
      </div>
        <h1>
          <span class=" text-[clamp(4rem,25.8cqw,11.2rem)]  hero-text leading-[85%]  md:text-[clamp(8rem,20.8cqw,12rem)] md:font-black lg:text-[clamp(12.1rem,20.4cqw,23rem)] ">JP</span>
        </h1>
      
  
      <!-- Second row -->
      <h1 class="col-span-2"><span class=" hero-text text-[clamp(4rem,25.8cqw,11.2rem)]  font-thin col-span-2  md:font-black md:text-[clamp(8rem,20.8cqw,12rem)] lg:text-[clamp(12.2rem,20.4cqw,23rem)] leading-[85%]">Richardson</span></h1>

      <!-- third row Tagline-->
      <h2 class="col-span-2"> <span class="lowlight-marker text-[clamp(1.3rem,6.6cqw,3rem)] mt-[3vw] margin-base hero-text text-right justify-end italic text-highlight-yellow uppercase font-black justify-self-end">Artistic Soul + Analytical Mind</span>
      </h2>
    </div>
    <!-- quote -->
    <div class="flex-1 flex items-center justify-center text-right">    
      <div class="ml-margin-base grid grid-cols-[1fr_auto] items-center gap-x-4">
        <h3>
          <span class="font-din text-light-blue font-normal italic text-[clamp(1.1rem,4.3cqw,2.9rem)] leading-tight tracking-accent text-right lg:text-[clamp(1.5rem,3.4cqw,3.2rem)]">
            "I view challenges through both <span class="lowlight-marker font-bold italic text-highlight-yellow">creative and technical</span> lenses—designing and coding digital experiences that are <span class="lowlight-marker highlight-flip font-bold italic text-highlight-yellow">user-friendly and functional."</span>
          </span>
        </h3>
        <div class="connecting-line-vertical h-full"></div>
      </div>
    </div>

  </div>  
</div>

