<li class="relative flex items-center">
    <!-- Horizontal line with decorative elements -->
    <div class="relative flex items-center mr-3 lg:hidden">
        <div class="min-w-[19vw] w-[19vw] !border-t-[2px] !border-light-blue z-10 lg:hidden
        {% if page.url == include.url %}
            border-solid
        {% else %}
           border-dashed
        {% endif %}
        ">
        </div>
        <!-- Left diamond -->
        <span class="absolute left-[-5px] top-[-2px] text-light-blue leading-0 lg:hidden">◆</span>
        <!-- Right arrow (only for active page) -->
        {% if page.url == include.url %}
        <span class="absolute right-[-5px] top-[-2px] text-light-blue leading-0 lg:hidden">◀</span>
        {% endif %}
    </div>
    
    <!-- Link -->
    <a href="{{ include.url }}"
    class="nav-line
    {% if page.url == include.url %}
        nav-line--active !text-highlight-yellow italic
    {% else %}
        !text-light-blue
    {% endif %}

    font-barlow font-extrabold leading-11
    uppercase {% if page.url == "/about.html" %}text-[clamp(1.3rem,8.4vw,3.9rem)]{% else %} text-[clamp(1.5rem,8.4vw,3.9rem)]{% endif %} tracking-accent
    nav-hover lg:text-[clamp(1rem,2vw,2.8rem)] block whitespace-nowrap 
    "
    data-text="{{ include.text }}"
    {% if page.url == include.url %}aria-current="page"{% endif %}
    {% if include.target %}target="{{ include.target }}"{% endif %}>
        {{ include.text }}
    </a>
</li>