<div class="flex h-auto bg-dark-blue border-b-4 border-dark-blue md:border-none md:h-auto md:p-4 md:grid md:grid-cols-[1fr_auto_1fr] md:items-center md:gap-4
                  {% if page.url == '/pages/about.html' %}sm:h-[30vh] sm:min-h-[30vh] bg-cover bg-no-repeat bg-[center_top_20%] bg-[url('/assets/img/profile.png')] md:bg-none md:h-auto md:min-h-0{% endif %} relative">

        <!-- Left connecting line -->
        <div class="hidden md:block h-[.5cqw] connecting-line ">
            <!--r connecting line -->
        </div>

        <!-- Center - Name -->
                <h1 class="{% if page.url == '/pages/about.html' %}absolute bottom-0{% endif %} w-full text-center md:static md:text-center">
                     <span class="hero-text {% if page.url == '/pages/about.html' %}text-dark-blue{% else %}text-light-blue{% endif %} text-[clamp(2.8rem,14.2cqw,17.4rem)] justify-center leading-none md:text-light-blue md:text-[7.3rem] whitespace-nowrap flex-nowrap">
                        JP RICHARDSON
                    </span>
                </h1>

        <!-- Right connecting line -->
        <div class="hidden md:block h-[.5cqw] connecting-line">
            <!--r connecting line -->
        </div>
    
</div>
    