<!DOCTYPE html>  
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="color-scheme" content="dark">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,800;1,800&family=IBM+Plex+Sans+Condensed&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

  </head>

  <body class="max-w-full bg-dark-blue">
    <!-- development banner
     {% include components/dev-banner.html %}
    -->

    <div id="mobile-nav" 
        class="mobile-nav-container fixed inset-0 bg-dark-blue z-40 translate-y-full transition-transform duration-300 ease-in-out">    
      {% include components/navigation/mobile-nav-overlay.html %}
    </div>

    <!-- Portfolio Grid Container -->
    <div class="min-h-screen">

      <!-- Header Section -->

        {% include components/header.html %}
        {% include components/navigation/nav-strip.html %}

      </header>

      <!-- Main Content Area -->
      <main>
        {{ content }}
      </main>

    </div>

    <!-- Global JavaScript -->
    <script src="/assets/js/highlighter.js"></script>
    <script src="/assets/js/mobile-menu.js"></script>
    <script src="/assets/js/portfolio-carousel.js"></script>

    <!-- Mobile Menu Button -->
    <footer class="z-90">
      <div class="lg:hidden fixed bottom-0 left-[calc(var(--spacing-margin-base)*0.5)] z-90 w-[61px] h-[63px] overflow-visible">
        {% include components/navigation/menu-button.html %}
      </div>
        <div class="hidden lg:flex! items-center w-full fixed bottom-0 z-50">
          <div class="flex-1">

          </div>
          <div class="flex-shrink-0 bg-light-blue pt-1.5 px-1.5">
              {% include components/footer.html %}
          </div>
          <div class="flex-1 text-right">

          </div>
        </div>
    </footer>
    <script data-goatcounter="https://jpr.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  </body>
</html>