<div class="mobile-nav">
    <button 
        type="button"
        class="close-btn"
        aria-label="close"
        aria-expanded="true">
    </button>
    <header>
        <h1>
            JP Richardson
        </h1>
        <a href="tel:913-636-8530">913-636-8530</a>
        <a href="mailto:jp@jpr.works">jp@jpr.works</a> 
    </header>
    <nav>
        <ul class="nav-list">
            
  {% for item in site.data.navigation %}

    {% include components/nav-item.html 
       url=item.url 
       text=item.text 
    %}
  {% endfor %}
</ul>
        </ul>
    </nav>
    