<div id="wrapper" class="grid grid-rows-[auto_1fr] h-screen gap-margin-base hero-text p-margin-base pl-0 ml-[calc(0.5*var(--spacing-margin-base)+32px)]">
    <!-- Vertical line div -->
    <div class="absolute  left-[calc(0.5*var(--spacing-margin-base)+32px)] top-margin-base bottom-[var(--spacing-margin-base)] w-[2px] bg-light-blue z-[1]">
    </div>
    <!-- Contact box -->
    <div class="h-[calc(cqh)] contact-box @container border-2 border-dashed flex flex-col margin-base p-margin-base leading-none gap-1">
        <div class="text-[clamp(1.3rem,13cqw,7rem)] flex  tracking-accent justify-between">
            <h1>
            JP 
            </h1>
            <h1 class="justify-end"> 
                Richardson
            </h1>
        </div>
        <div class=" contact-links flex justify-around text-[clamp(1rem,5cqw,3rem)] underline underline-offset-auto">
            <a href="tel:913-636-8530" class="">913-636-8530</a>
            <a href="mailto:jp@jpr.works">jp@jpr.works</a> 
        </div>
    </div>
    <!-- Navigation -->
        <nav class="flex flex-col">
            <ul class="flex flex-col justify-evenly gap-7 h-full">
                    {% for item in site.data.main-pages %}

                        {% include components/navigation/nav-item.html 
                        url=item.url 
                        text=item.text 
                        %}
                    {% endfor %}            
                </ul>
    </nav>
</div>